<section class="p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-3">Spotify Music App</h3>
        <p class="h2">Version : 1.0.1</p>
        <p class="h2">Author :
          <span class="text-primary">Kabir-Sagi</span>
        </p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur cum fugit hic incidunt molestias odio provident quasi quos soluta? Atque cumque debitis, eligendi error esse explicabo fugit iste, maiores modi molestiae nam necessitatibus, odio odit officiis perspiciatis repellendus totam.</p>
      </div>
    </div>
  </div>
</section>
